{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header class="cabecalho">
        <nav class="cabecalho-menu">
          <a class="cabecalho-menu-item" href="/home">Início</a>
          <a class="cabecalho-menu-item" href="/data/sensor">Sensor</a>
          <a class="cabecalho-menu-item" href="/data/actuator">Atuadores</a>
          <a class="cabecalho-menu-item" href="/monitor/action">Ações</a>
          <a class="cabecalho-menu-item" href="/monitor">Monitor</a>
          <a class="cabecalho-menu-item" href="/admin">Administrar</a>
        </nav>
    </header>

    <main class="conteudo"> 
        {% block content %}
        {% endblock %}
    </main>
    
    <footer class="rodape">
        <section class="conteudo-secundario">
        <img class="rodape-imagem" src="{% static '/img/ifms_logo_rodape.png' %}">
    </section>
       <section class="rodape-secundario">
        <p class="rodape-secundario-paragrafo"><strong>Pesquisa Aplicada</strong></p>
        <p class="rodape-secundario-paragrafo"><strong>&</strong> </p>
        <p class="rodape-secundario-paragrafo"><strong>Extensão Tecnológica</strong></p>
    </section>
    </footer>
</body>
</html>